.course-name {
  color: red;
  margin-left: 3px; /* Add margin for better spacing */
  font-size: 0.45em;
  /* margin-top: 20px; */
  font-weight:400;
}

.bars {
    color: red;
    font-size: 0.5em;
    margin-left: 10px;
    margin-top: 10px;
}

.route {
    color: grey;
    font-size: 0.45em;
}

.custom-breadcrumb {
  color: red;
  --bs-breadcrumb-divider: ">";
}

.student-button {
    margin-top: 15px;
    margin-right: 10px;
  }